# WordPress core
/wp-admin/
/wp-includes/
wp-config.php
*.log

# Media & caches
wp-content/uploads/
wp-content/cache/
wp-content/upgrade/
wp-content/debug.log

# Plugins: ignore all except custom/required ones
wp-content/plugins/*
!wp-content/mu-plugins/

# Themes: ignore all except your child/custom theme
wp-content/themes/*
!wp-content/themes/flowshop-child/

# Node/build
node_modules/
dist/

# OS/IDE junk
.DS_Store
Thumbs.db
.vscode/
.idea/
*.code-workspace